{% extends 'base.html' %}

{% block page_title %}
<h3>{{ postagem.titulo }}</h3>
{% endblock page_title %} 

{% block blog_page_content %}
<small>
  {{ postagem.criado_em.date }} | Categorias: 
  {% for categoria in postagem.categorias.all %}
  <a href="{% url 'blog_categoria' categoria.nome %}">{{ categoria.nome }}</a>
  {% endfor %}
</small>
<p>{{ postagem.corpo | linebreaks }}</p>
<h3>Deixe um comentário</h3>

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{ form.autor }}
  </div>
  <div class="mb-3">
    {{ form.corpo }}
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<h3 style="margin-top: 20">Comentários:</h3>
{% for comentario in comentarios %}
<p>Em {{ comentario.criado_em }} <b>{{ comentario.autor }}</b> </p>
<p>{{ comentario.corpo | linebreaks }}</p>
{%endfor%}
{% endblock blog_page_content %}
